@tailwind base;
@tailwind components;
@tailwind utilities;
 
body{
  overflow: hidden;
}
*{
  box-sizing: border-box;
  overflow-x: hidden;
}
.correct{
  background-color: aquamarine;
}
.wrong{
  background-color: red;
}

::-webkit-scrollbar{
  width: 6px;
  background-color:teal;
  z-index: -10px;
}